

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, body, html * {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.tab-buttons{
  margin-bottom: 2rem;
}

button {
  margin-right:15px;
  font-size: 18px;
  background:transparent;
  border:none;
  outline:none;
  padding:10px 25px ;
  cursor:pointer;
  color: #000;
  font-weight: 400;
  transition:all ease-in-out .2s;
  border-bottom:2px solid transparent;
}
.toolschain-outer .tab-buttons button {
  font-size: 16px;

}
.toolschain-outer label {
  display: flex;
  width: 100%;
  font-size: 16px;
  align-items: center;
  margin-bottom: 1rem !important;
}
.toolschain-outer label span {
  font-weight: 700;
}
.toolschain-outer .css-xn6ruc>:not(style) {
  margin: 0;
  width: 100%;
}
.toolschain-outer
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.8rem;
}
.toolschain-outer .css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.toolschain-outer .form-check-input,
.toolschain-outer .css-56cttj  {
  margin-left: 2rem !important;
}
.dialog-wrap .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 480px;
}
.active{
  border-bottom:2px solid #06c;
  color: #000;
  font-weight: 700;
}
.toolschain-outer .css-e53awj-MuiStack-root {
  display: flex;
  justify-content: center;
  width: 74%;
}
.table > thead {
  background-color: #06c;
  color: #fff;
}
.table td, .table th {
  padding: 0.8rem;
  font-weight: initial;
}
.table th{
padding: 0.8rem;
font-weight: 700;
align-items: center;
}
.env-btn-outer {
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-end;
}
.github-text {
  padding: 1rem 0;
}
.community-forum-outer h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.community-forum-outer .alert-outer {
  width: 50%;
  display: flex;
  margin: 0 auto;
}
.container-wrap {
  display: flex;
  max-width: initial;
  padding: 0;
  min-height: 100vh;
}
.page-outer {
  margin-top: 1.5rem !important;
  position: relative;
  max-width: 100%;
  margin: 1rem 2rem;
  width: 100%;
}
.redirect-link, .redirect-link:hover {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.page-outer  .btn-style {
  font-weight: initial;
}
.page-outer
.css-sghohy-MuiButtonBase-root-MuiButton-root {
   background-color: #06c;
   font-weight: initial;
   height: 2.3rem;
   line-height: initial;
}
.page-outer 
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #06c;
  color: #06c;
}
.dropdown-menu.show {
  border: 1px solid #06c;
  padding: 0;
}
.dropdown-item {
  color: #06c;
  padding: 5px 15px;
}
.dropdown-item:active, .dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #06c;
}
.link{
  text-decoration: none;
}
.new-project-wrap .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.6rem;
}
.css-19l4syt-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 2.68rem !important;
  margin-top: 0.5rem;
}
.new-project-wrap .css-2ulfj5-MuiTypography-root {
  font-size: 1rem;
}
.new-project-wrap .css-1pgc0kz-MuiFormControl-root-MuiTextField-root {
  margin-top: 0.5rem;
}
.new-project-wrap {
  padding-bottom: 3.5rem;
}
.css-56cttj {
  margin: 0 0 16px 0  !important;
}
.new-project-wrap .css-56cttj {
  width: initial !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 800px !important;
  width: 100%;
}
.dialog-wrap .css-19l4syt-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 100% !important;
}
.checkbox-outer {
  display: flex;
  width: 50%;
}
.link-text {
  color: initial;
  text-decoration: none;
}
