
.tab-buttons{
  margin-bottom: 2rem;
}

button{
  margin-right:15px;
  font-size:20px;
  background:transparent;
  border:none;
  outline:none;
  padding:10px 20px ;
  cursor:pointer;
  color: #000;
  font-weight: 400;
  transition:all ease-in-out .2s;
  border-bottom:2px solid transparent;
  
}
.active{
  border-bottom:2px solid #664bee;
  color: #000;
  font-weight: 700;
}
.table > thead {
  background-color: #664bee;
  color: #fff;
}
.table th, .table td {
  padding: 0.8rem;
}
.env-btn-outer {
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-end;
}