* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .form-class {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 6rem;
  }
  .form-class .btn {
    padding: 0.5rem 2rem;
    font-size: 20px;
    background-color: #06C;
    color: #fff;
  }