* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .login-wrap .col {
    height: 100vh;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-wrap .left-side{
    background-color: #28293d;
  }
  .login-wrap .logo-outer {
    border-radius: 50%;
    width: 200px;
    height: 100px;
  }
  .login-wrap p {
    color: #fff;
    text-align: left;
  }
  .login-wrap .master-text {
    font-size: 32px;
    line-height: 44px;
  }
  .login-wrap button {
    background: #0278d5;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 400px;
    margin-right: 0;
    font-weight: 700;
  }
  .login-wrap .sign-up, .login-wrap .login {
    width: 195px;
  }
  .login-wrap .sign-up {
    margin-right: 10px;
  }